/* 
#FFFFFF
#F8F7FF
#2A2E37
#B3A3FC
#FEA3CE
#A3BFFE
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
  line-height: 1.5em;
}

/* Blocks *********************************/

/* nav */

/* header */

.header__button {
  display: inline-block;
  margin: 10px 20px 10px 0;
  padding: 10px 30px;
  font-size: 1em;
  color: #828282;
  background-color: #FFF;
  border: 1px solid #828282;
  border-radius: 3px;
  height: 50px;
  width: 160px;
  min-width: 150px;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  padding: 0 12%;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}

/* clients */

.coke {
  background: url(coke.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 80px;
}

.google {
  background: url(google.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 80px;
}

.nike {
  background: url(nike.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 80px;
}

.underarmour {
  background: url(underarmour.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 80px;
}

.airbnb {
  background: url(airbnb.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 80px;
}

/* info */

/* cards */

/* footer */

/* Elements *******************************/

/* nav */

.nav__container {
  display: flex;
  padding: 0 12%;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: flex-end;
}

.nav__container > li:first-child {
  margin-left: auto;
}

.nav__item {
  display: inline-block;
}

.nav__button {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: #828282;
  margin: 0.5em;
  padding: 5px 10px;
  cursor: pointer;
}

.nav__button:hover {
  color: #000;
  font-weight: bold;
}

.nav__button:active {
  color: #000;
  font-weight: bold;
}

.hire__item {
  display: inline-block;
  margin-left: auto;
}

.hire__button {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: #828282;
  margin-left: auto;
  padding: 5px 10px;
  cursor: pointer;
}

.hire__button:hover {
  color: #000;
  font-weight: bold;
}

input {
  display: none;
}

/* header */

.header__container {
  display: flex;
  flex-direction: column;
  padding: 0 12%;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

.header__title {
  font-size: 3.5em;
  color: #2A2E37;
  width: 100%;
}

.header__p {
  width: 700px;
  margin: 10px 0 40px 0;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #828282;
}

.button__container {
  display: flex;
  width: 50%;
}

/* main */

.main__title {
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  margin: 0 0 10px 0;
  color: #2A2E37;
}

.main__p {
  text-align: center;
  width: 60%;
  color: #828282;
  margin: 10px 0 30px 0;
}

/* main cards*/

.main-card__container {
  display: flex;
  width: 100%;
  height: auto;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.main__cards {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 500px;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0px 5px 0px #E3E3E3, 0px -1px 10px #E3E3E3;
}

.main-card__title {
  font-size: 1.5em;
}

.main-card__p {
  margin: 10px 0;
  font-size: calc(100vw / 100);
  line-height: 2em;
  text-align: center;
  width: 85%;
}

.main__button {
  display: inline-block;
  margin: auto 0 40px 0;
  padding: 10px 30px;
  font-size: 1em;
  color: #828282;
  background-color: #FFF;
  border: 1px solid #828282;
  border-radius: 3px;
  min-height: 50px;
  min-width: 160px;
  min-width: 150px;
}

/* clients */

.clients__container {
  display: flex;
  background-color: #F8F7FF;
  width: 100%;
  height: 500px;
  justify-content: center;
}

.clients-content__container {
  display: flex;
  flex-direction: column;
  width: 76%;
  justify-content: center;
  align-items: center;
}

.clients__header {
  font-size: 0.9em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #B3A3FC;
}

.client__list {
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 0;
  justify-content: space-between;
  align-items: flex-end;
}

/* info */

.info__container {
  display: flex;
  width: 100%;
  height: 600px;
  padding: 0% 12%;
  justify-content: space-between;
}

.info__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  padding: 40px 0;
  align-self: center;
}

.info__title {
  font-size: 2.5em;
  width: 100%;
  color: #2A2E37;
}

.info__p {
  line-height: 1.7em;
  font-size: 1.4em;
  color: #828282;
  margin: 20px 0;
}

.info__images {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: flex-end;
  align-items: flex-end;
}

.info__icons {
  background: url(stack.png) no-repeat;
  background-size: contain;
  width: 410px;
  height: 250px;
  align-self: center;
}

/* cards */

.cards__container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 12%;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 2em;
  color: #FFF;
}

.card__p {
  font-size: 1.2em;
  line-height: 2em;
  width: 60%;
  color: #FFF;
}

.card__button {
  display: inline-block;
  margin: auto 10px 10px 0;
  padding: 10px 50px;
  font-size: 1em;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 3px;
  height: 50px;
  width: 200px;
  min-width: 200px;
}

/* footer */

.footer__container {
  display: flex;
  width: 100%;
  height: 300px;
  padding: 20px 12% 80px 12%;
  background: #F8F7FF;
}

.footer__spacer {
  display: flex;
  width: 50%;
  height: auto;
}

.footer__left-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.footer__title {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #2A2E37;
  margin: 20px 0;
}

.footer__p {
  width: 65%;
  color: #828282;
  line-height: 2em;
}

.footer__column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer__button {
  text-align: left;
  font-size: 1.1em;
  min-width: 111px;
  margin: 5px 0;
  background: none;
  background-color: transparent;
  border: none;
  color: #828282;
  cursor: pointer;
}

/* Modifiers ******************************/

/* nav */

/* header */

.header__button--purple {
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 10px 50px;
  font-size: 1em;
  color: #FFF;
  background-color: #B3A3FC;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 220px;
  min-width: 200px;
}

/* main */

.icon--blue {
  background-color: #A3BFFE;
  width: 80px;
  height: 80px;
  margin: 30px 0 20px 0;
  border-radius: 50%;
}

.icon--business {
  background: url(icon-business.png);
  background-repeat: no-repeat;
  height: 100%;
  widows: 100%;
  filter: invert(100%);
  background-position: 50% 50%;
}

.icon--pink {
  background-color: #FEA3CE;
  width: 80px;
  height: 80px;
  margin: 30px 0 20px 0;
  border-radius: 50%;
}

.icon--web {
  background: url(icon-web.png);
  background-repeat: no-repeat;
  height: 100%;
  widows: 100%;
  filter: invert(100%);
  background-position: 50% 50%;
}

.icon--purple {
  background-color: #B3A3FC;
  width: 80px;
  height: 80px;
  margin: 30px 0 20px 0;
  border-radius: 50%;
}

.icon--design {
  background: url(icon-design.png);
  background-repeat: no-repeat;
  height: 100%;
  widows: 100%;
  filter: invert(100%);
  background-position: 50% 50%;
}

/* clients */

/* info */

/* cards */

.card--blue {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 300px;
  padding: 2.5%;
  background: #A3BFFE;
  border-radius: 8px;
}

.card--purple {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 300px;
  padding: 2.5%;
  background: #B3A3FC;
  border-radius: 8px;
}

/* footer */

.footer__title--small {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #2A2E37;
  margin: 20px 0;
}

.footer__button:hover {
  color: #000;
  font-weight: bold;
}

/* Mobile **********************/

@media screen and (max-width: 1600px) {
  .main-card__p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  .main-card__container {
    flex-direction: column;
  }
  .main__cards {
    margin: 20px 0;
    width: 100%;
    height: 360px;
  }
  .info__container {
    flex-direction: column;
    height: auto;
  }
  .info__text {
    width: 100%;
  }
  .info__title {
    text-align: center;
  }
  .info__p {
    text-align: center;
  }
  .info__images {
    width: 100%;
    justify-content: center;
  }
  .cards__container {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }
  .card--blue {
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 260px;
  }
  .card--purple {
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 260px;
  }
  .card__p {
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 15% 20px 15%;
  }
  .footer__spacer {
    width: 100%;
  }
  .footer__column {
    width: 100%;
  }
  .footer__title {
    text-align: center;
  }
  .footer__p {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .nav__container {
    background: #B3A3FC;
    align-items: center;
  }
  .nav__button {
    color: #FFF;
  }
  .hire__button {
    color: #FFF;
  }
  .button__container {
    justify-content: center;
    width: 100%;
  }
  .header__container {
    padding: 0 15px;
    height: 60vh;
    justify-content: flex-start;
    align-items: center;
  }
  .header__title {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
  }
  .header__p {
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .nav {}

  #toggle {
    display: none;
  }

  .hamburger__button {
    position: absolute;
    height: auto;
    width: 80px;
    padding: 20px 15px;
    background-color: #2A2E37;
    cursor: pointer;
    transition: 0.3s;
  }
  .hamburger__bar {
    position: relative;
    width: 36px;
    height: 4px;
    margin: 7px auto;
    background-color: #FFF;
  }

  .nav__container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    background-color: #2A2E37;
    display: none;
  }
  .nav__container > li:first-child {
    margin-left: 0;
  }
  .nav__item {
    width: 100%;
  }
  .nav__button {
    display: block;
    padding: 6px;
    width: 100%;
    height: 60px;
    font-size: 25px;
    color: #AAA;
    transition: 0.3s;
    text-align: center;
    margin: 10px 0;
  }
  .nav__button:hover {
    color: #FFF;
    font-weight: 400;
  }
  .hire__item {
    margin: 0;
    width: 100%;
  }
  .hire__button {
    display: block;
    padding: 6px;
    width: 100%;
    height: 60px;
    font-size: 25px;
    color: #AAA;
    text-align: center;
    transition: 0.3s;
    margin: 10px 0;
  }
  .hire__button:hover {
    text-align: center;
    color: #FFF;
    font-weight: 400;
  }
  .close__button {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 36px;
    padding: 2px;
    text-decoration: none;
    font-size: 50px;
    color: #FFF;
    display: none;
    transition: 0.3s;
  }

  #toggle:checked + .nav__container {
    display: block;
  }

  .header__container {
    padding: 0 15px;
    height: auto;
    margin: 0 0 30px 0;
  }
  .header__title {
    margin-top: 80px;
    font-size: 2em;
  }
  .header__p {
    width: 100%;
    font-size: 16px;
    margin: 10px 0 20px 0;
  }
  .button__container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header__button {
    margin: 0;
  }
  .main {
    padding: 0 15px;
  }
  .main__title {
    font-size: 2em;
  }
  .main-card__title {
    text-align: center;
  }
  .main__p {
    width: 100%;
  }
  .main__container {
    padding: 0 15px;
  }
  .main__cards {
    height: auto;
  }
  .clients__container {
    padding: 15px 15px 0 15px;
    height: auto;
  }
  .clients-content__container {
    width: 100%;
    height: auto;
  }
  .client__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .client__list div {
    width: 100px;
  }
  .info__container {
    padding: 0 15px;
  }
  .info__title {
    font-size: 2em;
  }
  .info__p {
    font-size: 16px;
  }
  .cards__container {
    padding: 0;
  }
  .card--blue {
    width: 100%;
    height: 230px;
    border-radius: 0;
  }
  .card--purple {
    width: 100%;
    height: 230px;
    border-radius: 0;
  }
  .card__title {
    font-size: 2em;
    text-align: center;
  }
  .card__p {
    width: 100%;
    font-size: 16px;
  }
  .footer__container {
    padding: 0 15px;
  }
  .footer__title {
    text-align: center;
    font-size: 14px;
  }
  .footer__title--small {
    text-align: center;
    font-size: 10px;
  }
  .footer__button {
    text-align: center;
    min-width: 50px;
    font-size: 12px
  }
}
