* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}

.layout {
  display: flex;
  background: radial-gradient(at top, #393857, #13112c);
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

/* Nav / Head */

/* Blocks ********************************/

.nav-container {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 3em 15em 0em 8em;
}

.nav__list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.header {
  width: 100%;
  height: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Elements ******************************/

.nav__item {
  display: inline-block;
}

.nav__button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 3px 20px;
  margin: 0 5px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.nav__buy-item {
  display: inline-block;
  order: 4;
  margin: 0 5px;
}

.nav__buy-button {
  text-decoration: none;
  color: #dd3717;
  text-transform: uppercase;
  border: 1px solid #dd3717;
  border-radius: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

.header__title {
  font-size: 4em;
  font-weight: 200;
  text-transform: uppercase;
}

.header__p {
  text-align: center;
  margin: auto;
  padding: 10px;
  max-width: 400px;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.7);
}

/* Modifiers *****************************/

.nav__button:hover {
  color: #FFF;
}

.nav__buy-button:hover {
  background-color: #dd3717;
  color: #FFF;
}

@media screen and (min-width: 526px) and (max-width: 1000px) {
  .nav-container {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 3em 0 0 0;
  }
  .nav__list {
    justify-content: center;
  }
}

@media screen and (max-width: 525px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 3em 0px 0em 0px;
    overflow: hidden;
  }
  .nav__list {
    flex-direction: column;
    position: relative;
  }
  .nav__item {
    width: 100%;
    margin: 5px 0px 0px 3em;
    display: none;
  }
  .nav__buy-item {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 10px 3em 0 auto;
  }
  .hamburger {
    display: block;
    width: auto;
    margin: 4px auto 1em 3em;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 3px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -9px);
    transform: rotate(45deg) translate(-6px, -9px);
  }
  .change .nav__item {
    display: block;
  }
}

/* Prices / Main */

/* Blocks ********************************/

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f8f8f8;
  width: 100%;
  height: auto;
  margin-top: 300px;
  padding: 130px 0 10px 0;
  color: #333;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 100;
  color: #000;
  max-height: auto;
  margin: 10px auto 20px auto;
}

.price-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 320px;
  top: -250px;
  left: 0;
  right: 0;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
  max-width: 1200px;
  height: auto;
  margin: auto;
  justify-content: space-around;
}

.card {
  flex-basis: 30%;
  height: 120px;
  margin: 10px 0;
  padding: 5px;
}

/* Elements ******************************/

.price-card__basic {
  display: flex;
  flex-direction: column;
  background: #FFF;
  width: 200px;
  height: 320px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #3424b2, #13dcf4);
  box-shadow: rgba(0, 0, 0, 0.25) 0em 0.15rem 0.8rem;
  transition: all 0.3s ease-in-out 0s;
  z-index: 0;
}

.price-card__advanced {
  display: flex;
  flex-direction: column;
  background: #FFF;
  width: 240px;
  height: 360px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #3424b2, #c36bd6);
  box-shadow: rgba(0, 0, 0, 0.25) 0em 0.15rem 0.8rem;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1;
}

.price-card__ultimate {
  display: flex;
  flex-direction: column;
  background: #FFF;
  width: 200px;
  height: 320px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #dd3717, #f6ae2a);
  box-shadow: rgba(0, 0, 0, 0.25) 0em 0.15rem 0.8rem;
  transition: all 0.3s ease-in-out 0s;
  z-index: 0;
}

.price-card__heading {
  color: #FFF;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #FFF;
  margin: 10px auto;
}

.price-card__price {
  color: #FFF;
  font-size: 1.4em;
  font-weight: 200;
  margin: 0 auto 0px auto;
}

.price-card__p {
  color: #FFF;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  margin: auto;
}

.card h1 {
  font-size: 0.9em;
  color: #c36bd6;
  margin: 0 0 5px 0;
}

.card p {
  font-size: 0.8em;
  color: #a4a4a4;
}

/* Modifiers *****************************/

.price-card__price--number {
  color: #FFF;
  font-size: 2.5em;
  font-weight: bold;
}

.price-card__button--blue {
  height: 35px;
  width: 80%;
  color: #13dcf4;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  margin: auto auto 20px auto;
  transition-duration: 0.4s;
  cursor: pointer;
}

.price-card__button--purple {
  height: 35px;
  width: 80%;
  color: #c36bd6;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  margin: auto auto 20px auto;
  transition-duration: 0.4s;
  cursor: pointer;
}

.price-card__button--orange {
  height: 35px;
  width: 80%;
  color: #f6ae2a;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  margin: auto auto 20px auto;
  transition-duration: 0.4s;
  cursor: pointer;
}

.price-card__button--blue:hover {
  color: #FFF;
  background-color: #13dcf4;
}

.price-card__button--purple:hover {
  color: #FFF;
  background-color: #c36bd6;
}

.price-card__button--orange:hover {
  color: #FFF;
  background-color: #f6ae2a;
}

.price-card__basic:hover {
  transform: scale(1.2, 1.2);
  z-index: 2;
}

.price-card__advanced:hover {
  transform: scale(1.1, 1.1);
  z-index: 2;
}

.price-card__ultimate:hover {
  transform: scale(1.2, 1.2);
  z-index: 2;
}

@media screen and (max-width: 700px) {
  .main {
    margin: auto;
    padding: 0px 0 10px 0;
  }

  .price-container {
    flex-direction: column;
    position: static;
    height: auto;
  }
  
  .price-card__basic {
    width: 100%;
    height: 280px;
    border-radius: 0px;
    margin: auto;
    box-shadow: none;
  }
  .price-card__advanced {
    width: 100%;
    height: 280px;
    border-radius: 0px;
    margin: auto;
    box-shadow: none;
  }
  .price-card__ultimate {
    width: 100%;
    height: 280px;
    border-radius: 0px;
    margin: auto;
    box-shadow: none;
  }
  .price-card__basic:hover {
    transform: none;
    z-index: 0;
  }

  .price-card__advanced:hover {
    transform: none;
    z-index: 0;
  }

  .price-card__ultimate:hover {
    transform: none;
    z-index: 0;
  }
  .price-card__button--blue {
    height: 35px;
    width: 80%;
    max-width: 360px;    
  }

  .price-card__button--purple {
    height: 35px;
    width: 80%;
    max-width: 360px;  
  }

  .price-card__button--orange {
    height: 35px;
    width: 80%;
    max-width: 360px;
  }
  .main-container {
    min-width: 10%;
  }
  .card {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    text-align: center;
    flex-basis: 100%;
  }
}

/* Second Section */

/* Blocks ********************************/

.customer-review {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 260px;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}

.customer-title {
  align-self: flex-start;
  text-align: center;
  font-size: 2.5em;
  font-weight: 100;
  max-height: auto;
  margin: 10px auto 20px auto;
}

/* Elements ********************************/

.feedback-1,
.feedback-2,
.feedback-3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  text-align: center;
  font-size: 1.5em;
  max-width:  width: 800px;
  height: 125px;
  margin: auto;
  padding: 10px;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.feedback-1 {
  animation-name: anim-1;
}

.feedback-2 {
  animation-name: anim-2;
}

.feedback-3 {
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
    left: 0%;
    opacity: 1;
  }
  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%,
  58.29% {
    left: 0%;
    opacity: 1;
  }
  66.66%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%,
  91.62% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

/* Modifiers ********************************/
@media screen and (max-width: 500px) {
  .customer-review {
    height: 300px;
  }
  
  .feedback-1,
  .feedback-2,
  .feedback-3 {
    font-size: 1em;
    
    top: 150px;
  }
}
/* About */

/* Blocks ********************************/

.about {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
  justify-content: center;
}

.about-p {
  color: #666;
  font-size: 0.9em;
  max-width: 1200px;
  padding: 10px;
  margin: auto;
}

/* Elements ********************************/

/* Modifiers ********************************/

/* Footer */

/* Blocks ********************************/

.footer {
  display: flex;
  width: 100%;
  height: 60px;
  font-size: 0.8em;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  margin: auto 0 0 0;
}

/* Elements ********************************/

/* Modifiers ********************************/
